table,th,td{
    border: 1px solid rgba(0, 0, 0, 0.133);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th{
    background-color: #00000038;
    height: 70px;
}

th:first-child{
    width: 120px;
}

th:nth-child(2){
    width: 105px;
}

th:nth-child(3){
    width: 90px;
}

th:nth-child(4){
    width: 105px;
}

th:nth-child(5){
    width: 100px;
}

th:last-child{
    width: 100px;
}

td{
    height: 60px;
}

i{
    cursor: pointer;
}